<ion-item color="danger">
  <ion-label>
 <b>RESTAURANT
  </b>
  </ion-label>
  <p >cibo d'asporto</p>
  
  <ion-avatar slot="start" class="player">
    <img src="assets/ristoranteuno.jpg" class="player">
  </ion-avatar>
  <ion-avatar slot="end" class="player">
    <img src="assets/panini.jpg" class="player">
  </ion-avatar>
  <ion-avatar slot="end" class="player">
    <img src="assets/pizza.jpg" class="player">
  </ion-avatar>
</ion-item>

  

    

  



<ion-content [fullscreen]="true" class="background-image">
  
</ion-content>
